* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Display", serif;
}

/* ---------------------------------------------------------------- -
---------------------------------- Index -------------------------
-------------------------------------------------------------------*/

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: rgb(199, 199, 199);
}

main {
    min-height: 100vh;
    width: 100%;
}

/* ---------------------------------------------------------------- -
---------------------------------- Header -------------------------
-------------------------------------------------------------------*/ 
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    backdrop-filter:blur(3px);
    filter: drop-shadow(0px 8px 4px rgba(0,0,0,1));
    font-size: .8em;
    position: fixed;
    min-width: 100%;
    z-index: 20;
    transition: all 0.8s ease-in-out;
}

header.nav-scroll {
    padding: 10px;
    background-color: rgba(23, 23, 23, 0.921);
    text-shadow: 1px 1px 1px rgb(164, 164, 164);
    filter: drop-shadow(0px 8px 4px rgba(0,0,0,1));
    transition: all 0.8s ease-in-out;
}
/*------------------------------------------------------------
---------------------------- Logo ----------------------------
------------------------------------------------------------*/
.logo {
    margin-left: 30px;
}
.logo img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    box-shadow: 5px 5px 5px rgb(171, 170, 170);
}
/* ---------------------------------------------------------------- -
---------------------------------- Nav -------------------------
-------------------------------------------------------------------*/
.nav-links {
    display: flex;
    margin-right: 50px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
    
    font-size: clamp(15px, 2vw, 20px);  
    font-weight: bold; 
    background-color: rgba(23, 23, 23, 0.563);
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
}
.nav-links a {
    text-decoration: none;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    color: white;
    font-weight: bold;
}
.nav-links a:hover {
    color: rgb(192, 56, 7);
    text-decoration: underline;
    font-weight: bold;
    text-shadow: none;
}

/*--------------------------------------------------------------- Menu hamburgesa -------------------------------
-------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------*/
.check-menu {
    display: none;
}
.label-check {
    display: none;
}
/* -----------------------------------------------------------------
---------------------------------- Contacto -------------------------
-------------------------------------------------------------------*/

/*--------------------------------------------------------------------
--------------------------------------Main--------------------------- 
--------------------------------------------------------------------*/
h1 {
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: clamp(20px, 3vw, 40px)
}
h2 {
    color: rgb(43, 43, 43);
    font-family: "Red Hat Display", serif;
    text-shadow: 1px 1px 1px rgb(59, 59, 59);
    text-align: center;
    margin: 20px auto;
    padding: 10px 20px;
    font-weight: bold;
    font-size: clamp(25px, 3vw, 35px);
}
h3 {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    font-size: clamp(18px, 2vw, 25px);
}
h4 {
    margin: 20px auto;
    text-align: center;
    padding: 5px;
    font-size: clamp(16px, 2vw, 18px);
    text-shadow: 3px 3px 3px black;
}
h5 {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    font-size: clamp(16px, 2vw, 18px); 
}
section {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.text-top.show {
    text-shadow: 2px 2px 2px rgb(94, 94, 94);
    transition: all 0.3s ease-in-out;
    transform: scale(1.2);
}
.contenido {
    width: 95%;
    min-height: 100vh;
    margin: 50px auto;
    width: 100%;
    padding: 20px;
}
.hero {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    color: rgb(192, 56, 7);
    text-shadow: 3px 3px 3px black;
    background: url(./../assets/images/inicio.webp) top/cover no-repeat;  
    mask-image: linear-gradient(rgba(190,190,190,1) 90%, transparent);
    filter: drop-shadow(0px 8px 4px rgba(190,190,190,1));
    border-bottom: 3px solid rgba(190,190,190,1);
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    line-height: 50px;
    background: rgba(0, 0, 0, 0.625);
    border:rgba(0, 0, 0, 0.625);
    border-radius: 10px;
    font-size: clamp(15px, 2vw, 20px)
}
.info p {
    text-align: center;
}
.noticias {
    width: 85%;
    margin: 0 auto;
    height: auto;
    border: 2px solid rgb(31, 31, 31);
}
.container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 95%;
    margin: 30px auto;
    justify-content: space-around;
    align-items: center;
}
.servicios ul {
    justify-content: center;
    margin-left: 40%;
    align-items: center;
    list-style: square;
    line-height: 50px; 
}
.container p {
    text-align: justify;
    line-height: 30px;
    font-size: clamp(13px, 2vw, 15px);
}
/*---------------------------------------------------------- Galeria INDEX -------------------------------------------*/
.foto {
    display: grid;
    margin: 30px auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-around;
    gap: 20px;
    transition: all .3s ease;  
}  
.foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(11, 11, 11);
}
.foto img:hover {
    transform: scale(2);
}
/* -------------------------------------------------------------
----------------------- Formulario contacto ------------------------
----------------------------------------------------------------*/

.formulario1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 5px double black;
    border-radius: 10px;
    line-height: 10px; 
    background-color: rgba(249, 249, 249, 0.894); 
}
.formulario1 fieldset {
    border: 2px solid rgb(103, 103, 103);
    padding: 10px 10px; 
    margin: 10px auto;    
}
.formulario1 legend {
    font-weight: bold;
    color: rgb(54, 54, 54);
    font-size: clamp(16px, 3vw, 18px);
    margin: 0 10px;
    padding: 0 10px;
    line-height: 10px;
}
.datos {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items:center;
    margin: 20px auto;  
}
.datos input {
    padding: 10px;
    width: 80%; 
    font-size: 15px;
    border: 1px solid rgb(205, 203, 203);
    border-radius: 5px;
}
.camposObligatorios {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: grey; 
    font-style: italic;
}
.formulario1 input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 0 30px;
    cursor: pointer; 
}
.formulario1 textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid rgb(205, 203, 203);
    border-radius: 5px;
    font-size: 15px;
}
.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    list-style: none;
    margin: 20px auto 0 auto;
    gap: 50px;   
}
.botones button {
    font-size: clamp(15px, 2vw, 17px);
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid rgb(12, 12, 12);
    border-radius: 5px;
    background-color: rgb(135, 135, 135);
    cursor: pointer;
}
.botones button:hover {
    background-color: rgb(192, 56, 7);
    color: white;
    border: 1px solid black;
}

/*------------------------------- Botón WhatsApp ---------------------------------- */

.whatsapp {
    position: fixed;
    bottom: 120px;
    right: 5px;
    display: flex;
    gap: 10px;
    padding: 10px;
    border: 5px solid white;
    border-radius: 30px;
    background-color: rgba(34, 34, 34, 0.893);
    font-weight: bold;
    font-size: clamp(13px, 2vw, 17px);
}
.whatsapp a {
    text-decoration: none;
    color: white;
}
/* ---------------------------------------------------------------------------Footer---------------------------------------------------------------------------------------*/
footer{
    display: grid;
    min-width: 100%;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    background-image: linear-gradient(rgb(199, 199, 199), grey, black);
    color: white;
    font-weight: bolder;
    text-shadow: 1px 1px 3px black ;
    text-align: center;
    line-height: 20px;
    font-size: clamp(5px, 2vw, 17px);
}  
footer a {
    color: white;
    text-decoration: none;
    transition: all .3s ease-in-out;
}
footer a:hover {
    color:  rgb(192, 56, 7);
    text-decoration: underline;
}
.redes {
    display: flex;
    justify-content: center; 
    gap: 10px;
    padding: 5px;
}
.redes img {
    width: 30px;
    height: 30px;
    box-shadow: 2px 2px 2px black;
}
/*----------------- Pagina CONTACTO --------------------------------------------*/

.contacto {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 5px;
    color: white;  
}
.contacto p {
    margin: 0;
    justify-content: center; 
}
.contacto a {
    color: white;
    text-decoration: none;
}
.location {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 30px auto;
    padding: 100px;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    background-color: rgba(14, 14, 14, 0.873);
    border: black;
    border-radius: 10px;
}
.location p {
    font-size: clamp(14px, 2vw, 18px)
}
.location a {
    text-decoration: none;
    color: white;
}
.button-link {
    display: flex;
    justify-content: center;
    margin: 30px;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
    width: 160px;
    height: 50px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bolder;
    background-color: white;
    border: 1px solid black; 
    border-radius: 10px;
    box-shadow: 3px 3px 3px black;
}

hr {
    width: 200px;
    height: 2px;
    margin: 10px;
}
.mapa {
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}
.mapa p {
    text-align: center;
    padding: 30px;
    font-size: clamp(13px, 2vw, 20px);
}
.mapa iframe {
    width: 100%;
    margin: 30px auto;
}
/*---------------------------------------------------------- Pagina GALERIA ---------------------------------------------------------*/

.text-servicio {
    text-shadow: 5px 2px 3px black;
    color: white;
    font-size: 30px; 
    transform: scale(0.5);
    opacity: 0;
    transition: all 0.5s ease-in-out;
    
}

.text-servicio.show {
    transform: scale(1);
    opacity: 1;
}
.galeria {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
}
.image {
    width: 310px;
    height: 280px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgb(11, 11, 11);
    transform: translateY(50px);
    transition: all 0.5s ease-in-out; 
    opacity: 0;    
}
.image.show {
    transform: translateY(0);
    transition: all 0.5s ease-in-out;  
    opacity: 1; 
}
.image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 20px;
}
.image:hover {
    filter: grayscale(1);
    cursor: pointer;  
}
.descripcion {
    background-color: rgba(255, 255, 255, 0.718);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    transform: translateY(-130px);
    opacity: 0;   
}
.descripcion:hover {
    opacity: 1;
}

/*---------------------------------------------------------- Pagina PRESUPUESTO ---------------------------------------------------------*/
.presupuesto {
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    padding: 20px;  
}
.p-presupuesto {
   margin-bottom: 20px;
   font-size: clamp(17px, 3vw, 20px);
   text-align: center;
}
.formulario {
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    border: 5px double black;
    border-radius: 5px;
    line-height: 50px; 
    background-color: rgba(249, 249, 249, 0.894); 
}
.formulario fieldset {
    position: relative;
    width: 100%;
    border: 2px solid rgb(103, 103, 103);
    padding: 10px 10px; 
    margin: 30px auto;    
}
.formulario legend {
    position: relative;
    font-weight: bold;
    color: rgb(54, 54, 54);
    font-size: clamp(17px, 3vw, 20px);
    margin: 0 20px;
    padding: 0 10px;
    line-height: 15px;
}
.servicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    gap: 10px;
}
.servicio select {
    width: 60%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid rgb(205, 203, 203);
    border-radius: 5px; 
    font-size: 15px;  
}
.plazo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    gap: 10px; 
}
.plazo input {
    width: 40%;
    padding: 10px;
    border: 1px solid rgb(205, 203, 203);
    border-radius: 5px; 
    font-size: 15px;  
}
.extras {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 20px auto;
    gap: 5px;
    line-height: 20px;
}
.extras input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 0 30px;
    cursor: pointer; 
}
.presupuestoTotal {
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 25px;
    font-size: clamp(16px, 2vw, 18px); 
    font-weight: bold;
    margin: 50px auto;    
}
.total {
    border: 1px solid rgb(95, 95, 95); 
    border-radius: 5px;
    margin-left: 20px;
    padding: 10px;
    text-align: center;
    font-weight: bold; 
    font-size: clamp(13px, 2vw, 16px); 
}
.iva {
    color: rgb(51, 51, 51); 
    font-style: italic; 
    font-weight: lighter;
    font-size: clamp(13px, 2vw, 17px); 
    padding: 0 20px;
}
.presupuestoNota {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(31, 31, 31); 
    font-style: italic; 
    line-height: 20px;
    font-size: clamp(13px, 2vw, 17px); 
}
.aceptacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: clamp(14px, 2vw, 17px);
    line-height: 20px;
    list-style: none;
    padding: 15px 0px 5px 0px;
    gap: 10px;
    color: black;  
}
.aceptacion input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 0 30px;
    cursor: pointer; 
}
.error, 
.noSelected {
    color: red;
    font-size: clamp(10px, 2vw, 15px);
    display: flex;
    justify-content: center;
    align-items: center; 
}
.invalido {
    color: red;
    font-weight: bold;
}
.mensaje {
    color: green;
    font-size: clamp(10px, 2vw, 15px);
    display: flex;
    justify-content: center;
    text-align: center;
}




/*--------------------------------------------
----------------- Responsive ------------------
----------------------------------------------*/

@media (max-width: 1024px) {

    .logo img {
        width: 70px;
        height: 70px;
    }
    .contacto {
        display: none;
    }
    .label-check {
        display: block; 
        margin: 0 auto;
        justify-content: center;
        padding: 7px;
        background-color: rgba(0, 0, 0, 0.915);
        border-radius: 100px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 30%;
        gap: 0;
        width: 40%;
        height: 200%;
        border-radius: 10px;
        background-color: rgba(11, 11, 11, 0.741);
        text-shadow: none;
    }
    .nav-links a {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 3px;
    }
    .check-menu:checked + .nav-links {
        display: flex;
    }
    .container {
        grid-template-columns: 1fr;
        margin: 10px auto;  
    }  
    .container ul {
        width: 50%;
        margin: 0 auto;
        align-items: center;
    }  
    
    .descripcion {
        background: none;
    }
    .descripcion p {
        background-color: rgba(255, 255, 255, 0.635);
        padding: 10px;
        border-radius: 5px;
    }
}    

 @media (max-width: 768px) {
    .galeria {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .galeria img:hover {
        transform:none;
    } 
    .productos {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(24, 1fr);
        gap: 10px;
    }
    .producto {
        margin: 0 auto;
        width: 90%;
    }
    
  
    }
    .formulario {
        width: 100%;
        padding: 10px;
    }
    .extras {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 90%;
        margin: 20px auto;
        gap: 20px;
    }
    .botones {
        margin-bottom: 20px;
    }






