<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TipTop Tapicería Marbella</title>
    <link rel="icon" type="image/x-icon" href="./../favicon.ico">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
        </style>
    <link rel="stylesheet" href="./../css/estilos.css">
    <link rel="stylesheet" href="./../css/lightbox.css">
</head>
<body> 
    <header class="navbar">  
        <img class="logo" src="./../assets/images/icons/logotip.svg" alt="logo tiptop" width="200" height="200">
                  
        <h1>TAPICERÍA AUTOMÓVIL</h1>

        <div class="navbar">
            <input type="checkbox" id="check-menu" class="check-menu">

            <div class="nav-links">
                <a href="./../index.html" >INICIO</a>
                <a href="./galeria.html">GALERÍA</a>
                <a href="./presupuesto.html" >PRESUPUESTO</a>
                <a href="./contacto.html">CONTACTO</a>  
            </div>

            <label for="check-menu" class="label-check">
                <img src="./../assets/images/icons/menu-svgrepo-com.svg" alt="icono menu hamburgesa" width="50" height="50">
            </label>
        </div>
    </header>

    <main>
        <section class="hero">
            <div class="info">
            <h2>GALERÍA</h2>
            <p>NUESTROS TRABAJOS REALIZADOS</p>
            </div>  
        </section>
       
        <section class="contenido">           
            <h3 class="text-servicio">Restauración de asientos</h3>
            
            <div class="galeria">

                <div class="image">
                    <a href="./../assets/images/galeria/asientosporsche1.jpg" data-lightbox="galeria" data-title="Restauración asientos"><img src="./../assets/images/galeria/asientosporsche1.jpg" alt="Restauración de asientos Porsche"width="1200" height="1600"></a>
                    <div class="descripcion" >
                        <p>Restauración de asientos</p>
                    </div>
                </div>    
                    
                <div class="image">
                    <a href="./../assets/images/galeria/asientosporsche2.jpg" data-lightbox="galeria" data-title="Restauración de asientos"><img src="./../assets/images/galeria/asientosporsche2.jpg" alt="Restauración de asientos Porsche"width="1512" height="2016"></a>
                    <div class="descripcion">
                        <p>Restauración de asientos</p>
                    </div>
                </div>
                    
                <div class="image">
                    <a href="./../assets/images/galeria/asientosporsche3.jpg" data-lightbox="galeria" data-title="Restauración de asientos"><img src="./../assets/images/galeria/asientosporsche3.jpg" alt="Restauración de asientos Porsche" width="1200" height="1600"></a>
                    <div class="descripcion">
                        <p>Restauración de asientos</p>
                    </div> 
                </div>   
                         
                <div class="image">
                    <a href="./../assets/images/galeria/asientosporsche4.jpg" data-lightbox="galeria" data-title="Restauración de asientos"><img src="./../assets/images/galeria/asientosporsche4.jpg" alt="restauracion de asientos" width="1600" height="1200"></a>
                    <div class="descripcion">
                        <p>Restauración de asientos</p>
                    </div>   
                </div>

                <div class="image">
                    <a href="./../assets/images/galeria/reparacion-asiento.jpg" data-lightbox="galeria" data-title="Restauración de asientos"><img src="./../assets/images/galeria/reparacion-asiento.jpg" alt="restauracion de asientos" width="1360" height="1790"></a>
                    <div class="descripcion">
                        <p>Restauración de asientos</p>
                    </div>
                </div>

                <div class="image">
                    <a href="./../assets/images/galeria/asiento-reparado.jpg" data-lightbox="galeria" data-title="Restauración de asientos"><img src="./../assets/images/galeria/asiento-reparado.jpg" alt="restauracion de asientos" width="720" height="960"></a>
                    <div class="descripcion">
                        <p>Restauración de asientos</p>
                    </div>
                </div>

                <div class="image">
                    <a href="./../assets/images/galeria/asiento-dnado1.jpg" data-lightbox="galeria" data-title="Restauración de asientos"><img src="./../assets/images/galeria/asiento-dnado1.jpg" alt="restauracion de asientos" width="1200" height="1600"></a>
                    <div class="descripcion">
                        <p>Restauración de asientos</p>
                    </div>
                </div>

                <div class="image">
                    <a href="./../assets/images/galeria/asiento-reparado1.jpg" data-lightbox="galeria" data-title="Restauración de asientos"><img src="./../assets/images/galeria/asiento-reparado1.jpg" alt="restauracion de asientos" width="2048" height="1536"></a>
                    <div class="descripcion">
                        <p>Restauración de asientos</p>
                    </div>
                </div>
            </div>

            <h3 class="text-servicio">Restauración de puertas</h3>

            <div class="galeria">

                <div class="image">
                    <a href="./../assets/images/galeria/puertaporsche1.jpg" data-lightbox="galeria" data-title="Restauración de puertas"><img src="./../assets/images/galeria/puertaporsche1.jpg" alt="restauracion de puertas" width="1600" height="1200"></a>
                    <div class="descripcion">
                        <p>Restauración de puertas</p>
                    </div>
                </div>

                <div class="image">
                    <a href="./../assets/images/galeria/puertaporsche2.jpg" data-lightbox="galeria" data-title="Restauración de puertas"><img src="./../assets/images/galeria/puertaporsche2.jpg" alt="restauracion de puertas" width="1512" height="2016"></a>
                    <div class="descripcion">
                        <p>Restauración de puertas</p>
                    </div>
                </div>

                <div class="image">
                    <a href="./../assets/images/galeria/puerta.png" data-lightbox="galeria" data-title="Restauración de puertas"><img src="./../assets/images/galeria/puerta.png" alt="restauracion de puertas" width="2048" height="1536"></a>
                    <div class="descripcion">
                        <p>Restauración de puertas</p>
                    </div>
                </div>
                <div class="image">
                    <a href="./../assets/images/galeria/puerta-reparada.jpg" data-lightbox="galeria" data-title="Restauración de puertas"><img src="./../assets/images/galeria/puerta-reparada.jpg" alt="restauracion de puertas" width="2048" height="1536"></a>
                    <div class="descripcion">
                        <p>Restauración de puertas</p>
                    </div>
                </div>
            </div>

            <h3 class="text-servicio">Restauración de volantes</h3>
    
            <div class="galeria">

                <div class="image">
                    <a href="./../assets/images/galeria/volante1.jpg" data-lightbox="galeria" data-title="Restauración de volantes"><img src="./../assets/images/galeria/volante1.jpg" alt="restauracion de volante" width="2016" height="1512"></a>
                    <div class="descripcion">
                        <p>Restauración de volantes</p>
                    </div>
                </div>

                <div class="image">
                    <a href="./../assets/images/galeria/volante2.jpg" data-lightbox="galeria" data-title="Restauración de volantes"><img src="./../assets/images/galeria/volante2.jpg" alt="restauracion de volante" width="2048" height="1536"></a>
                    <div class="descripcion">
                        <p>Restauración de volantes</p>
                    </div>
                </div>

                <div class="image">
                    <a href="./../assets/images/galeria/volante3.jpg" data-lightbox="galeria" data-title="Restauración de volantes"><img src="./../assets/images/galeria/volante3.jpg" alt="restauracion de volante" width="1080" height="1080"></a>
                    <div class="descripcion">
                        <p>Restauración de volantes</p>
                    </div>
                </div>

                <div class="image">
                    <a href="./../assets/images/galeria/volante4.jpg" data-lightbox="galeria" data-title="Restauración de volantes"><img src="./../assets/images/galeria/volante4.jpg" alt="restauracion de volante" width="1536" height="1512"></a>
                    <div class="descripcion">
                        <p>Restauración de volantes</p>
                    </div>
                </div>
            </div>

            <h3 class="text-servicio">Salpicadero</h3>
     
            <div class="galeria">

                <div class="image">
                    <a href="./../assets/images/galeria/salpicadero-danado.jpg" data-lightbox="galeria" data-title="Salpicadero"><img src="./../assets/images/galeria/salpicadero-danado.jpg" alt="salpicadero" width="2016" height="1512"></a>
                    <div class="descripcion">
                        <p>Salpicadero</p>
                    </div>
                </div>

                <div class="image">
                    <a href="./../assets/images/galeria/salpicadero-reparado.jpg" data-lightbox="galeria" data-title="Salpicadero"><img src="./../assets/images/galeria/salpicadero-reparado.jpg" alt="salpicadero" width="2016" height="1512"></a>
                    <div class="descripcion">
                        <p>Salpicadero</p>
                    </div>
                </div>

                <div class="image">
                    <a href="./../assets/images/galeria/salpicadero.jpg" data-lightbox="galeria" data-title="Salpicadero"><img src="./../assets/images/galeria/salpicadero.jpg" alt="salpicadero" width="2016" height="1512"></a>
                    <div class="descripcion">
                        <p>Salpicadero</p>
                    </div>
                </div>

                <div class="image">
                    <a href="./../assets/images/galeria/salpicadero1.jpg" data-lightbox="galeria" data-title="Salpicadero"><img src="./../assets/images/galeria/salpicadero1.jpg" alt="salpicadero" width="2016" height="1512"></a>
                    <div class="descripcion">
                        <p>Salpicadero</p>
                    </div>
                </div>
            </div>

            <h3 class="text-servicio">Tapicería de barcos y techos</h3>
       
            <div class="galeria">

                <div class="image">
                    <a href="./../assets/images/galeria/asientos-barco.jpg" data-lightbox="galeria" data-title="Tapicería de barcos"><img src="./../assets/images/galeria/asientos-barco.jpg" alt="tapiceria de barcos" width="1600" height="1200"></a>
                    <div class="descripcion">
                        <p>Tapicería de barcos</p>
                    </div>
                </div>

                <div class="image">
                    <a href="./../assets/images/galeria/asientos-barco2.jpg" data-lightbox="galeria" data-title="Tapicería de barcos"><img src="./../assets/images/galeria/asientos-barco2.jpg" alt="tapiceria de barcos" width="1600" height="1200"></a>
                    <div class="descripcion">
                        <p>Tapicería de barcos</p>
                    </div>
                </div>

                <div class="image">
                    <a href="./../assets/images/galeria/techo.jpg" data-lightbox="galeria" data-title="Tapicería de barcos"><img src="./../assets/images/galeria/techo.jpg" alt="techo" width="2016" height="1512"></a>
                    <div class="descripcion">
                            <p>Techo</p>
                    </div>
                </div>

                <div class="image">
                    <a href="./../assets/images/galeria/techo2.jpg" data-lightbox="galeria" data-title="Tapicería de barcos"><img src="./../assets/images/galeria/techo2.jpg" alt="techo" width="2016" height="1512"></a>
                    <div class="descripcion">
                        <p>Techo</p>
                    </div>
                </div>
            </div>
            <div class="whatsapp">
                <a href="https://wa.me/34603849757" target="_blank"><img src="./../assets/images/icons/whatsapp-green.svg" alt="whatsapp" width="60" height="60"></a>
            </div>
        </section>
    </main>

    <footer>
        <div>
            <p>© 2025 Tip Top Taller</p> <p>Todods los derechos reservados</p> 
            <a href="#">Política de privacidad</a>
        </div>
        <div>
            <p>C. Diamante, 37, 29603 Marbella,</p>
            <p> Málaga, España </p>
            <p>(+34) 603 849 757 </p>
            <p>tiptoptapiceria@gmail.com</p>
        </div>
        <div>
            <div class="p-footer">
            <p>SIGUENOS EN:</p>
            </div>
            <div class="redes">
            <a href="https://www.facebook.com/tapiceriaMD.Marbella/" target="_blank"><img src="./../assets/images/icons/facebook-logo.svg" alt="logo facebook" width="30" height="30"></a>
            <a href="https://www.instagram.com/tiptop_marbella/" target="_blank"><img src="./../assets/images/icons/instagram-logo.svg" alt="logo instagram" width="30" height="30"></a>
            <a href="https://g.co/kgs/Lr5aoFv" target="_blank"><img src="./../assets/images/icons/google-svgrepo.svg" alt="logo google" width="30" height="30"></a>
            </div>
        </div>
    </footer>
    <script src="./../js/lightbox-plus-jquery.js"></script>
    <script src="./../js/galeria.js"></script>
</body>
</html>