<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TipTop Tapicería Marbella</title>
    <link rel="icon" type="image/x-icon" href="./../favicon.ico">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
        </style>
    <link rel="stylesheet" href="./../css/estilos.css">
</head>
<body> 
    <header>  
        <div class="logo">
            <img src="./../assets/images/logotip.svg" alt="logo tiptop" width="200" height="200">
        </div>
        <div>
            <input type="checkbox" id="check-menu" class="check-menu">

            <nav class="nav-links">
                <a href="./../index.html">Inicio</a>
                <a href="./galeria.html">Galería</a>
                <a href="./presupuesto.html">Presupuesto</a>
                <a href="./contacto.html">Contacto</a>  
            </nav>

            <label for="check-menu" class="label-check">
                <img src="./../assets/images/menu-svgrepo-com.svg" alt="icono menu hamburgesa" width="50" height="50">
            </label>
        </div>
        <div class="contacto">
            <p><img src="./../assets/images/whatsapp-logo.svg" alt="logo whatsapp" width="20" height="20">(+34) 603 849 757</p>
            <a href="mailto:tiptoptapiceria@gmail.com">tiptoptapiceria@gmail.com</a>
            <div class="redes">
                <a href="https://www.facebook.com/tapiceriaMD.Marbella/" target="_blank"><img src="./../assets/images/facebook-logo.svg" alt="logo facebook" width="30" height="30"></a>
                <a href="https://www.instagram.com/tiptop_marbella/" target="_blank"><img src="./../assets/images/instagram-logo.svg" alt="logo instagram" width="30" height="30"></a>
                <a href="https://g.co/kgs/Lr5aoFv" target="_blank"><img src="./../assets/images/google-svgrepo.svg" alt="logo google" width="30" height="30"></a>
            </div>
        </div>
    </header>

    <main>
        <section class="hero">
            <div class="info">
            <h1>Presupuesto</h1>
            <p>SIEMPRE A SU DISPOSICIÓN</p>
            </div>  
        </section>
        
        <section class="presupuesto" >
            <h2>Presupuesto online</h2>
            <p class="p-presupuesto">Rellena el siguiente formulario para obtener un presupuesto orientativo de los servicios que ofrecemos.</p>
            <div class="formulario">
                <form id="form" action="#" method="post" target="_blank">
                    <fieldset>
                        <legend>Datos personales</legend>
                        <div class="datos">
                            <label for="name">Nombre:</label>
                            <input type="text" id="name" name="name" placeholder="Nombre completo" >         
                        </div>
                        <span class="error" id="nombreError"></span>

                        <div class="datos">
                            <label for="apellido">Apellidos:</label>
                            <input type="text" id="apellido" name="apellido" placeholder="Apellidos completos">   
                        </div>
                        <span class="error" id="apellidoError"></span>                        
                        <div class="datos">
                            <label for="telephone">Teléfono:</label>
                            <input type="text" id="telephone" name="telephone" placeholder="Telefono">
                        </div>
                        <span class="error" id="telefonoError"></span>                        
                        <div class="datos">
                            <label for="email">Correo:</label>
                            <input type="text" id="email" name="email" placeholder="Correo electronico"> 
                        </div>
                        <span class="error" id="emailError"></span>                 
                    </fieldset>

                    <fieldset>
                        <legend>Presupuesto</legend>
                        <div class="servicio">
                            <label for="servicio">Elige un servicio </label>
                            <select name="servicio" id="servicio">
                                <option value="0" disabled selected>Selecciona una opción</option>
                                <option id="techo" value="150" >Tapizado de techo - 150€</option>
                                <option id="volante" value="200">Volante - 200€</option>
                                <option id="salpicadero" value="250">Salpicadero - 250€</option>
                                <option id="asiento" value="150">Asiento - 150€</option>
                                <option id="puerta"  value="200">Puerta - 200€</option>
                            </select>
                            <span class="noSelected" id="noSelected"></span>
                        </div>

                        <div class="plazo">
                            <label for="plazo">Elige un plazo de servicio para obtener descuento</label>
                            <input type="number" id="plazo" name="plazo" placeholder="Plazo en dias" min="0" max="30" step="2">
                        </div>
                        
                        <p>Elige extras para el servicio</p>
                        <div class="extras">
                            <input class="extras" type="checkbox" id="limpiezaInterior" name="limpiezaInterior" value="20">
                            <label for="limpiezaInterior">Limpieza interior 20€</label>
                            <input class="extras" type="checkbox" id="limpiezaTotal" name="limpiezaTotal" value="50">
                            <label for="limpiezaTotal">Limpieza interior + exterior 50€</label>
                            <input class="extras" type="checkbox" id="desinfeccion" name="desinfeccion" value="30">
                            <label for="desinfeccion">Desinfección 30€</label>
                        </div>
                          
                        <div class="presupuestoTotal">
                            <p >Presupuesto calculado</p>

                            <span class="total" id="total">0 €</span>

                            <span style="color: rgb(51, 51, 51); font-style: italic; padding: 0 20px;"> no incl. IVA 21%</span>
                        </div>

                        <div class="presupuestoNota">
                            <p>El precio es orientativo y puede variar dependiendo del estado del vehículo y el tipo de material elegido.</p>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Aceptacíon de presupuesto y condiciones</legend>
                        <ul class="aceptacion">
                            <li>
                                <label id="aceptar"
                                class="aceptar" 
                                for="terminos">He leído y acepto las condiciones y importe de presupuesto</label>
                            </li>
                            <li>
                                <input id="terminos"
                                type="checkbox" name="aceptar">
                            </li>
                        </ul>
                    </fieldset>

                    <ul class="botones">
                        <li>
                            <button type="submit" id="submit">Enviar
                            </button>
                        </li>
                        <li>
                            <button type="reset" id="reset">Borrar
                            </button>
                        </li>                     
                    </ul>
                    <p id="mensaje-error" class="error"></p>
                    <p id="mensaje" class="mensaje"></p>
                </form>
            </div>
        </section>
    </main>

    <footer>
        <div>
            <p>© 2025 Tip Top Taller. <br>Todods los derechos reservados</p> 
            <a href="#">Política de privacidad</a>
        </div>
        <div>
            <p class="p-footer"> CONTACTO:</p>
            <p>C. Diamante, 37, 29603 Marbella,</p>
            <p> Málaga, España </p>
            <p>(+34) 603 849 757 </p>
            <p>tiptoptapiceria@gmail.com</p>
        </div>
        <div>
            <div class="p-footer">
            <p>SIGUENOS EN:</p>
            </div>
            <div class="redes">
            <a href="https://www.facebook.com/tapiceriaMD.Marbella/" target="_blank"><img src="./../assets/images/facebook-logo.svg" alt="logo facebook" width="30" height="30"></a>
            <a href="https://www.instagram.com/tiptop_marbella/" target="_blank"><img src="./../assets/images/instagram-logo.svg" alt="logo instagram" width="30" height="30"></a>
            <a href="https://g.co/kgs/Lr5aoFv" target="_blank"><img src="./../assets/images/google-svgrepo.svg" alt="logo google" width="30" height="30"></a>
            </div>
        </div>
    </footer>
    <script src="./../js/script.js"></script>
</body>
</html>