<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TipTop Tapicería Marbella</title>
    <link rel="icon" type="image/x-icon" href="./../favicon.ico">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
        </style>
    <link rel="stylesheet" href="./../css/estilos.css">
</head>
<body> 
    <header>  
        <div class="logo">
            <img src="./../assets/images/logotip.svg" alt="logo tiptop" width="200" height="200">
        </div>
        <div>
            <input type="checkbox" id="check-menu" class="check-menu">

            <nav class="nav-links">
                <a href="./../index.html">Inicio</a>
                <a href="./productos.html">Productos</a>
                <a href="./presupuesto.html">Presupuesto</a>
                <a href="./contacto.html">Contacto</a>  
            </nav>

            <label for="check-menu" class="label-check">
                <img src="./../assets/images/menu-svgrepo-com.svg" alt="icono menu hamburgesa" width="50" height="50">
            </label>
        </div>
        <div class="contacto">
            <p><img src="./../assets/images/whatsapp-logo.svg" alt="logo whatsapp" width="20" height="20">(+34) 603 849 757</p>
            <a href="mailto:tiptoptapiceria@gmail.com">tiptoptapiceria@gmail.com</a>
            <div class="redes">
                <a href="https://www.facebook.com/tapiceriaMD.Marbella/" target="_blank"><img src="./../assets/images/facebook-logo.svg" alt="logo facebook" width="30" height="30"></a>
                <a href="https://www.instagram.com/tiptop_marbella/" target="_blank"><img src="./../assets/images/instagram-logo.svg" alt="logo instagram" width="30" height="30"></a>
                <a href="https://g.co/kgs/Lr5aoFv" target="_blank"><img src="./../assets/images/google-svgrepo.svg" alt="logo google" width="30" height="30"></a>
            </div>
        </div>
    </header>

    <main>
        <section class="hero">
            <div class="info">
            <h1>Galería Trabajos Realizados</h1>
            <p>Servicios Tapicería de Vehículos</p>
            </div>  
        </section>

        <section class="productos">
            <div class="producto">
                <img src="./../assets/images/asientosporsche1.jpg" alt="restauracion de asientos" width="400" height="533">
                <div class="descripcion">
                    <p>Restauracion de asientos</p>
                </div>
            </div>   
            <div class="producto">
                <img src="./../assets/images/asientosporsche2.jpg" alt="restauracion de asientos" width="400" height="533">
                <div class="descripcion">
                    <p>Restauracion de asientos</p>
                </div>
            </div>
            <div class="producto">
                <img src="./../assets/images/asientosporsche3.jpg" alt="restauracion de asientos" width="400" height="286">
                <div class="descripcion">
                <p>Restauracion de asientos</p>
                </div>
            </div>          
            <div class="producto">
                <img src="./../assets/images/asientosporsche4.jpg" alt="restauracion de asientos" width="400" height="300">
                <div class="descripcion">
                    <p>Restauracion de asientos</p>
                </div>
            </div>
            <div class="producto">
                <img src="./../assets/images/reparacion-asiento.jpg" alt="restauracion de asientos" width="400" height="449">
                <div class="descripcion">
                    <p>Restauracion de asientos</p>
                </div>
             </div>
            <div class="producto">
                <img src="./../assets/images/asiento-reparado.jpg" alt="restauracion de asientos" width="400" height="622">
                <div class="descripcion">
                <p>Restauracion de asientos</p>
                </div>
            </div>
            <div class="producto">
                <img src="./../assets/images/asiento-dnado1.jpg" alt="restauracion de asientos" width="400" height="533">
                <div class="descripcion">
                        <p>Restauracion de asientos</p>
                </div>
            </div>
            <div class="producto">
                <img src="./../assets/images/asiento-reparado1.jpg" alt="restauracion de asientos" width="400" height="300">
                <div class="descripcion">
                    <p>Restauracion de asientos</p>
                </div>
            </div>
            <div class="producto">
                <img src="./../assets/images/puertaporsche1.jpg" alt="restauracion de puertas" width="400" height="300">
                <div class="descripcion">
                    <p>Restauracion de puertas</p>
                </div>
            </div>
            <div class="producto">
                <img src="./../assets/images/puertaporsche2.jpg" alt="restauracion de puertas" width="400" height="533">
                <div class="descripcion">
                    <p>Restauracion de puertas</p>
                </div>
            </div>
            <div class="producto">
                <img src="./../assets/images/puerta.jpg" alt="restauracion de puertas" width="400" height="300">
                <div class="descripcion">
                    <p>Restauracion de puertas</p>
                </div>
            </div>
            <div class="producto">
                <img src="./../assets/images/puerta-reparada.jpg" alt="restauracion de puertas" width="400" height="300">
                <div class="descripcion">
                    <p>Restauracion de puertas</p>
                </div>
            </div>
            <div class="producto">
                <img src="./../assets/images/volante1.jpg" alt="restauracion de volante" width="400" height="300">
                <div class="descripcion">
                    <p>Restauracion de volantes</p>
                </div>
            </div>
            <div class="producto">
                <img src="./../assets/images/volante2.jpg" alt="restauracion de volante" width="400" height="300">
                <div class="descripcion">
                    <p>Restauracion de volantes</p>
                </div>
            </div>
            <div class="producto">
                <img src="./../assets/images/volante3.jpg" alt="restauracion de volante" width="400" height="400">
                <div class="descripcion">
                    <p>Restauracion de volantes</p>
                </div>
            </div>
            <div class="producto">
                <img src="./../assets/images/volante4.jpg" alt="restauracion de volante" width="400" height="533">
                <div class="descripcion">
                    <p>Restauracion de volantes</p>
                </div>
            </div>
            <div class="producto">
                <img src="./../assets/images/salpicadero-danado.jpg" alt="salpicadero" width="400" height="300">
                <div class="descripcion">
                    <p>Salpicadero</p>
                </div>
            </div>
            <div class="producto">
                <img src="./../assets/images/salpicadero-reparado.jpg" alt="salpicadero" width="400" height="300">
                <div class="descripcion">
                    <p>Salpicadero</p>
                </div>
            </div>
            <div class="producto">
                <img src="./../assets/images/salpicadero.jpg" alt="salpicadero" width="400" height="300">
                <div class="descripcion">
                    <p>Salpicadero</p>
                </div>
            </div>
            <div class="producto">
                <img src="./../assets/images/salpicadero1.jpg" alt="salpicadero" width="400" height="300">
                <div class="descripcion">
                    <p>Salpicadero</p>
                </div>
            </div>
            <div class="producto">
                <img src="./../assets/images/asientos-barco.jpg" alt="tapiceria de barcos" width="400" height="300">
                <div class="descripcion">
                    <p>Tapiceria de barcos</p>
                </div>
            </div>
            <div class="producto">
                <img src="./../assets/images/asientos-barco2.jpg" alt="tapiceria de barcos" width="400" height="300">
                <div class="descripcion">
                    <p>Tapiceria de barcos</p>
                </div>
            </div>
            <div class="producto">
                <img src="./../assets/images/techo.jpg" alt="techo" width="400" height="300">
                <div class="descripcion">
                        <p>Techo</p>
                </div>
            </div>
            <div class="producto">
                <img src="./../assets/images/techo2.jpg" alt="techo" width="400" height="300">
                <div class="descripcion">
                    <p>Techo</p>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div>
            <p>© 2025 Tip Top Taller. <br>Todods los derechos reservados</p> 
            <a href="#">Politica de privacidad</a>
        </div>
        <div>
            <p class="p-footer"> CONTACTO:</p>
            <p>C. Diamante, 37, 29603 Marbella, Málaga, España <br>(+34) 603 849 757 <br> tiptoptapiceria@gmail.com</p>
        </div>
        <div>
            <div class="p-footer">
            <p>SIGUENOS EN:</p>
            </div>
            <div class="redes">
            <a href="https://www.facebook.com/tapiceriaMD.Marbella/" target="_blank"><img src="./../assets/images/facebook-logo.svg" alt="logo facebook" width="30" height="30"></a>
            <a href="https://www.instagram.com/tiptop_marbella/" target="_blank"><img src="./../assets/images/instagram-logo.svg" alt="logo instagram" width="30" height="30"></a>
            <a href="https://g.co/kgs/Lr5aoFv" target="_blank"><img src="./../assets/images/google-svgrepo.svg" alt="logo google" width="30" height="30"></a>
            </div>
        </div>
    </footer>
</body>
</html>